.main-logo {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.main-logo__drink {
    height: 36px;
}

.main-logo__text {
    display: none;
}

@media (min-width: $tablet-width) {
    .main-logo {
        padding: 22px 0;
        margin-right: 68px;
    }
}

@media (min-width: $desktop-width) {
    .main-logo {
        display: flex;
        margin-right: 162px;
    }

    .main-logo__Drink2Go {
        margin-right: 20px;
    }

    .main-logo__text {
        display: block;
        width: 126px;
        @include header-text;
    }
}