.main-nav {
    width: 320px;
}

@media (min-width: $tablet-width) {
    .main-nav {
      display: flex;
      justify-content: space-between;
      width: 768px;
    }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
  }
}