.map  iframe {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: none;
    height: 420px;
}

@media (min-width: $tablet-width) {
    .map iframe {
        height: 480px;
    }
}

@media (min-width: $desktop-width) {
    .map iframe {
        height: 540px;
    }
}