.range {
    padding: 32px 0 0 0;
}

.range__scale {
    width: 280px;
    height: 2px;
    background-color: $light-grey;
}

.range__bar {
    position: absolute;
    height: 4px;
    width: 241px;
    background-color: $primary-lighter;
}

.range__toggle {
    position: relative;
    border: 2px solid $primary-lighter;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: $base-white;
    cursor: pointer;

    &:disabled {
        border: solid $base-grey;
        background-color: $base-white;
    }

    &:hover:not(.range__toggle:disabled) {
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background-color: $base-primary;
            opacity: 25%;
        }
    }

    &:focus {
        outline: none;
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background-color: $primary-opacity;
        }
    }
    
    &:active {
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background-color: $base-primary;
        }
    }
}

 .range__bar:disabled {
    background-color:  red;
}

.range__toggle--min {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}

.range__toggle--max {
    position: absolute;
    top: -10px;
    left: 236px;
    right: 0;
}

.range__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 37px 0 0 0;
}

.range__input {
    @include radio-text;
    width: 117px;
    height: 37px;
    background-color: $base-white;
    border: 2px solid $primary-lighter;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    -moz-appearance:textfield;
    cursor: pointer;

    &:focus {
        border-color: $primary-darker;
        outline: none;
    }

    &:disabled {
        border-color: $light-grey;
        background-color: $lightest-grey;
    }
}

.range__streak {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 2px;
    background-color: $base-grey;
}

@media (min-width: $tablet-width) {
    .range__scale {
        width: 219px;
    }

    .range__bar {
        position: absolute;
        height: 4px;
        width: 189px;
        background-color: $primary-lighter;
    }

    .range__input {
        width: 92.7px;
        height: 40px;
    }

    .range__toggle--max {
        left: 176px;
    }
    
    .range__streak {
        left: 48%;
    }

    .range {
        width: 219px;
        margin-left: 7px;
        padding-top: 30px;
    }

    .range__wrapper {
        margin: 34px 0 0 0;
    }
}

@media (min-width: $desktop-width) {
    .range {
        width: 318px;
        margin-left: 0;
    }

    .range__scale {
        width: 318px;
    }

    .range__bar {
        position: absolute;
        height: 4px;
        width: 289px;
        background-color: $primary-lighter;
    }

    .range__input {
        width: 134px;
    }

    .range__toggle--max {
        left: 275px;
    }
}