.site-list {
    @include reset-styles;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: $base-white;
    width: 320px;
    display: none;
}

.site-list__item {
    padding: 20px 0 21px 0;
    border-top: 1px solid $base-secondary;
    cursor: pointer;

    &:last-child {
        border-bottom: 1px solid $base-secondary;  
    }

    &:active {
        background-color: $base-secondary;
    }
}

.site-list__link {
    @include header-text;
    color: $base-black;
    text-decoration: none;
}

@media (min-width: $tablet-width) {
    .site-list {
        @include reset-styles;
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        position: static;
        letter-spacing: 0.02em;
    }

    .site-list__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: relative;
        border: none;

        &:last-child {
            border: none;
        }
    }

    .site-list__link {
        @include header-text;
        padding: 32px 20px;

        &:hover {
            color: $base-primary;
        }

        &:focus {
            outline: none;
            color: $base-primary;
        }

        &:active {
            background-color: $base-secondary;
        }

        &--active {
            &::after {
                position: absolute;
                content: "";
                height: 2px;
                background-color: $base-primary;
                top: 78px;
                left: 0;
                right: 0;
            }
        }
    }

    .site-list__link--active {
        color: $base-primary;
    }
}

@media (min-width: $desktop-width) {
    .site-list {
        width: 460px;
    }
    .site-list__item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .site-list__link {
        &--active {
            &::after {
                top: 78px;
                left: 0;
                right: 0;
            }
        }
    }
}